#header {
    display: flex;
    align-items: center;
justify-content: space-around;
background-color: #1F2937;
color:#f9faf8;
height: 50px;
}
#heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    height: 300px;
    

}
#infSection {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#infContent {
    display: flex;
    
}

.liContetn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 150px;
}

.infSecParagraph {
    text-align: center;
}

.infSecImgContainer {
    width: 150px;
    height: 150px;
    border: 5px solid blue;
}
