#header {
    display: flex;
    align-items: center;
justify-content: space-around;
background-color: #1F2937;
color:#f9faf8;
height: 50px;
}
#heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    height: 300px;
    

}